# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.env
.expo-shared/
.expo-history/
.expo-source/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
*.log

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db

# local env files
.env*.local

# typescript
*.tsbuildinfo

# IDEs
.idea/
.vscode/
*.swp
*.swo

# test
coverage/
*.lcov

# misc
app-example
.npm/
buck-out/
build/

# local test data
food_images_local/
sample_food.jpg

